node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Totara local configuration and keys
#
/src/totara/lib/config.local.ts
/src/totara/lib/config.local.bak.ts
/src/totara/lib/config.detox.ts
#
GoogleService-Info.plist
google-services.json

# VSCode
#
.vscode/

# ios and android directories created by Expo
ios/
android/
