<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422736091421-kia0n0a4re5nfdon9c83rv95krhp92pc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422736091421-kia0n0a4re5nfdon9c83rv95krhp92pc</string>
	<key>API_KEY</key>
	<string>AIzaSyBnJ4BWkXLyjsl7tCanU4yVrMKWoBgUYdw</string>
	<key>GCM_SENDER_ID</key>
	<string>422736091421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.totaralearning.TotaraMobileApp</string>
	<key>PROJECT_ID</key>
	<string>totara-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>totara-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422736091421:ios:03ca951618bdffc1a029f4</string>
	<key>DATABASE_URL</key>
	<string>https://totara-mobile-app.firebaseio.com</string>
</dict>
</plist>